/* Border */
.border-2 {
    border-width:2px !important;
}
.border-3 {
    border-width:3px !important;
}
.border-white{
    border-color: white !important
}

/* alignment */
.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

/* Color */
.whiteColor{
    color: white
}
.lightBlueColor{
    color: rgb(10, 135, 192)
}
.fadedWhiteBackground{
    background: rgba(255, 255, 255, 0.8)
}

/* Pointer */
.pointer{
    cursor: pointer;
}
