/* Border */
.border-2 {
    border-width:2px !important;
}
.border-3 {
    border-width:3px !important;
}
.border-white{
    border-color: white !important
}

/* alignment */
.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

/* Color */
.whiteColor{
    color: white
}
.grayColor{
    color: #625B63
}
.lightBlueColor{
    color: rgb(10, 135, 192)
}
.fadedWhiteBackground{
    background: rgba(255, 255, 255, 0.8)
}
.greenColor{
    color: #25975F
}
.lightOrangeColor{
    color: #FCBF49
}
.orangeColor{
    color: #D43300;
}

/* Pointer */
.pointer{
    cursor: pointer;
}

/* Input */
.inputBlackBorder{
    border: 1px solid black;
    border-radius: 5%;
    background: transparent;
}
input:focus {
    background-color: transparent !important
}

/* width & height */
.fitContent {
    width: fit-content;
    height: fit-content;
}
